<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.dummy.newsapifeed">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".NewsApiFeedApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_burning_newspaper_launcher3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_burning_newspaper_launcher3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.articledetails.ArticleDetailsActivity" />
    </application>

</manifest>